/* FONTS */

@font-face {
	font-family: 'Gilroy Regular';
	src: local('Gilroy Regular'), local('GilroyRegular'),
		url('../fonts/GilroyRegular.woff2') format('woff2'),
		url('../fonts/GilroyRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Medium';
	src: local('Gilroy Medium'), local('GilroyMedium'),
		url('../fonts/GilroyMedium.woff2') format('woff2'),
		url('../fonts/GilroyMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Semi Bold';
	src: local('Gilroy SemiBold'), local('GilroySemiBold'),
		url('../fonts/GilroySemiBold.woff2') format('woff2'),
		url('../fonts/GilroySemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Bold';
	src: local('Gilroy Bold'), local('GilroyBold'),
		url('../fonts/GilroyBold.woff2') format('woff2'),
		url('../fonts/GilroyBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

body {
  min-width: 320px;
  font-family: "Gilroy Regular", "sans-serif";
  font-style: normal;
  background-size: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* HEADER */

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__profile {
    display: flex;
    align-items: center;
}

.notification-wrapper {
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.notify-svg {
    position: absolute;
    top: -2px;
    right: -2px;
}

.user-name {
    margin-right: 6px;
    font-family: 'Gilroy Semi Bold';
    font-size: 14px;
    line-height: 106%;
    color: #2F2F2F;
}

/* MAIN */

.main {
    margin-bottom: 100px;
    display: flex;
}

/* MENU */

.menu {
    margin-right: 30px;
    display: inline-block;
}

.menu-wrapper {
    padding: 16px 18px 0 17px;
    display: inline-block;
    background-color: #F0F0F0;
    border-radius: 15px;
}

.menu-list {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.list-item {
    padding: 20px 39px;
    min-width: 200px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.list-item--active {
    background-color: #ffffff;
}

.item-content {
    font-family: 'Gilroy Medium';
    font-size: 16px;
    line-height: 120%;
    color: #2F2F2F;
}

.item-premium {
    color: #5D5FEF;
}

.list-item--active .item-content {
    color: #EF5DA8;
}

.menu-svg {
    margin-right: 10px;
}

.divide-line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
}

.menu-last-element {
    padding: 20px 39px;
    min-width: 200px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

/* PRIMARY BLOCK */

.grid {
    display: grid;
    grid-template-columns: 646px 270px;
    grid-template-rows: 372px 236px;
    gap: 20px;
}

.grid-item-1 {
    grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.grid-item-2 {
    grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.grid-item-3 {
    grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

/* MAJOR */

.major-content {
    display: inline-block;
    background-color: #F0F0F0;
    border-radius: 15px;
}

.major-profile {
    padding: 16px 28px 19px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.major-user-photo {
    margin-right: 22px;
}

.major-user-name {
    font-family: 'Gilroy Bold';
    font-size: 20px;
    line-height: 106%;
    color: #2F2F2F;
}

.block-info {
    padding: 29px 26px 30px 21px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.block-heading {
    margin-right: 6px;
    display: inline;
    font-family: 'Gilroy Semi Bold';
    font-size: 19px;
    line-height: 23px;
    color: #2F2F2F;
}

.tooltip {
    color: #EF5DA8;
    cursor: pointer;
}

.info-list {
    padding: 10px 0 0;
    display: flex;
}

.info-list-item {
    padding: 22px 9px;
    min-width: 115px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 15px;
}

.info-list-item:not(:last-child) {
    margin-right: 6px;
}

.info-item-content {
    font-family: 'Gilroy Medium';
    font-size: 13px;
    line-height: 15px;
    color: #868686;
}

.storage-block {
    padding: 22px 34px 31px 21px;
}

.storage-heading {
    margin-bottom: 13px;
    display: inline-block;
}

.storage-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-left {
    font-family: 'Gilroy Semi Bold';
    font-size: 16px;
    line-height: 19px;
    color: #868686;
}

.space-amount {
    font-family: 'Gilroy Semi Bold';
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
}

.space-diagram {
    display: inline-block;
    position: relative;
    width: 398px;
    height: 15px;
    background-color: #C7C8FF;
    border-radius: 100px;
}

.space-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 100px;
    background-color: #5D5FEF;
}

.diagram-add-space {
    position: absolute;
    top: 0;
    right: 20px;
    font-family: 'Gilroy Semi Bold';
    font-size: 12px;
    line-height: 14px;
    color: #5D5FEF;
}

/* DIAGRAM */

.diagram {
    border-radius: 15px;
    background-color: #F0F0F0;
    display: flex;
}

.diagram-wrapper {
    padding: 29px 21px 28px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.diagram-heading {
    margin-bottom: 15px;
}

.diagram-content {
    margin-bottom: 25px;
    display: block;
    position: relative;
    width: 229px;
    height: 230px;
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
  }
  
  .pie {
    --p:20;
    --b:11px;
    --c:darkred;
    --w:197px;
    
    width:var(--w);
    aspect-ratio: 1/1;
    position:absolute;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-family: "Gilroy Bold";
    font-size:25px;
    font-size: 34px;
    line-height: 41px;
    color: #5D5FEF;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#DDDDDD 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }

  #profile-d {
    top: 0px;
    left: 0px;
  }

  #portfolio-d {
    top: 16px;
    left: 17px;
  }

  #fresh-d {
    top: 32px;
    left: 33px;
  }

  #pro-d {
    top: 48px;
    left: 49px;
  }

  #top-d {
    top: 64px;
    left: 65px;
  }

  .score {
    font-family: 'Gilroy Bold';
    font-size: 20px;
    line-height: 24px;
    color: #5D5FEF;
  }

  .slash {
    color: #717171;
  }

  .overall {
    font-family: 'Gilroy Bold';
    font-size: 12px;
    color: #717171;
  }

  .tippy-box {
    padding: 5px 7px 7px 7px;
    max-width: 100%;
    min-height: 100%;
    text-align: center;
    font-family: 'Gilroy Regular';
    font-size: 12px;
    line-height: 11px;
    color: #ffffff;
    background-color: #383838;
}

.tippy-box>.tippy-arrow::before {
    color: #383838;
}

/* STATS */

table {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
  }
  
  td {
    border: 1px solid #ffffff;
    border-style: solid;
    text-align: center;
  }
  
  thead tr:first-child th:first-child {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 0;
}
  thead tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

  tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
  tr:last-child th:first-child {
    border-bottom-left-radius: 15px;
}

th[scope='col'] {
    width: 936px;
    height: 55px;
    background-color: #5D5FEF;
}

thead th:nth-child(1) {
    padding: 16px 21px 19px;
    width: 64%;
    font-family: 'Gilroy Bold';
    font-size: 20px;
    line-height: 106%;
    color: #D6D6FF;
  }
  
  thead th:nth-child(2) {
    width: 15%;
    font-family: 'Gilroy Bold';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
  }
  
  thead th:nth-child(3) {
    width: 12%;
    font-family: 'Gilroy Bold';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
  }
  
  thead th:nth-child(4) {
    width: 9%;
    font-family: 'Gilroy Bold';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
  }

  tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
  }
  
  tbody tr:nth-child(even) {
    background-color: #EDEDED;
  }

  th {
    text-align: left;
  }

  tbody th {
    padding: 16px 21px 19px;;
  }

  tbody td {
    height: 46px;
    padding: 14px 0;
  }


  /* FOOTER */

  .footer {
    padding: 44px 0 0;
    height: 100%;
    background-color: #5D5FEF;
  }

  .footer-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .socials-list {
    display: flex;
  }

  .socials-element:not(:last-child) {
    margin-right: 20px;
  }

  .questions-list {
    padding: 45px 0 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .questions-link {
    font-family: 'Gilroy Medium';
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .footer-bottom-bar {
    position: relative;
    padding: 31px 0;
    width: 100%;
    height: 100%;
    background-color: #5556D3;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contacts-info {
    font-family: 'Gilroy Medium';
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .contacts-link {
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 100%;
    color: #B6B6B6;
  }